.Pizza {
  height: 50vh;
  background: url("./pizza-splash.jpg");
  background-size: cover;
  background-position: center;
  /* padding: 30%; */
  text-font: "Droid Sans";
  color: white;
}

.Pizza .header-text {
  /* padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px; */
  padding-top: 8%;
  text-align: center;
  font-size: 40px;
  color: white;
  text-font: "Droid Sans";
}
